.map{
  position: fixed;
  top: 0;
  display: flex;
  width: 100%;
  // flex-direction: column;
  // justify-content: center;
  // border: 1px solid white;
  border-bottom: 1px solid white;
  // padding: 10px;
  // border-radius: 5px;
  background-color: #2673ef;
  z-index: 5;
}

.map__link{
  text-align: center;
  /* border: 1px solid white; */
  // border-radius: 5px;
  padding: 10px;
  // background-color: #57b0ff;
  margin: 10px;
}

.map__link:hover{
  // box-shadow: 0px 10px 20px -5px rgba(0,0,0, 0.3);
  text-decoration: underline;
}

a {
  text-decoration: none;
  color: white;
}
