html
  include blocks/head

  body
    .feedback
      .head
        .head__title= title

      .feedback__result
        .feedback__result-text= message
        a.feedback__link(href="/") Вернуться на главную
