html
  include blocks/head

  body
    .container
      .head
        .head__title= title

      .feedback-result
        .feedback-result-text= message
        a.feedback__link(href="/") Вернуться на главную
