html
  include blocks/head

  body
    include blocks/nav.pug
    .container
      .feedback
        .head
          .head__title= title
          hr

        .feedback__result
          .feedback__result-text= message
          a.feedback__link(href="/") Вернуться на главную
