html
  include blocks/head

  body
    .flex_box
      h1.head= title
      p.info= info
      .cont_box
        each link in links
            h3.link
              a(class ='line' href=link.href)= link.name
