html
  include blocks/head

  body
    .container
      .head
        h1.head__title= title
        p.head__info= info
      .links
        each link in links
            a.links__link(class ='line' href=link.href)= link.name
