html
  include blocks/head

  body
    .flex_box
      .head
        h1.head__title= title
        p.head__info= info
      .cont_box
        each link in links
            h3.link
              a(class ='line' href=link.href)= link.name
