@import url('./reset.css');
@import url('./blocks/header.css');
@import url('./blocks/map.css');

body {
  //background-color: #2673ef;
  background-color: #57b0ff;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  font-family: sans-serif;
}


.container {
  background-color: #2673ef;
  border-radius: 40px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  margin: 50px;
  padding: 40px;
  margin-top: 20vh;
}

.head {
  color: white;
  margin-bottom: 40px;
}

.head__title {
  font-size: 30px;
  text-align: center;
}

.links {
  display: flex;
  justify-content: space-around;
}

.links__link {
  height: 70px;
  width: 200px;
  border: 1px solid white;
  border-radius: 10px;
  margin-right: 20px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // background-color: #2673ef;
  color: white;
  text-align: center;
  transition: all .3s ease;
}

.links__link:last-of-type {
  margin-right: 0;
}

.links__link:hover {
  box-shadow: 0px 10px 20px -5px rgba(0,0,0, 0.3);
}

a {
  text-decoration: none;
  color: white;
}
a:visited {
  text-decoration: none;
  color: white;
}
