body {
  background-color: #57b0ff;
  display: flex;
  align-items: flex-start;
  font-family: sans-serif;
}

.container {
  max-width: 1110px;
  min-width: 900px;
  background-color: #2673ef;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  margin: 50px auto;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}

.head {
  color: white;
  width: 80%;
  margin: 0 auto;
}

.head__title {
  font-size: 30px;
  text-align: center;
  margin-bottom: 10px;
}

.result {
  margin: 20px;
  color: white;
}

.result__clause {
    margin-bottom: 20px;
    border: 1px solid white;
    border-radius: 20px;
    padding-left: 20px;
}

.result__question {
    font-weight: 600;
}

.result__question-text {
    margin-bottom: 10px;
}

.result__answer-label {
    margin-right: 10px;
}

.result__answer {

}

.result__verdict {
    font-size: 1.1em;
    font-weight: 600;
    margin-top: 10px;
}

.result__correct {
    color: #26A65B;
}

.result__wrong {
    color: #F03434;
}

.key_point {
  font-size: 20px;
}

.links__link {
  width: 200px;
  height: 70px;
  margin-right: 20px;
  font-size: 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  // background-color: #2673ef;
  border: 1px solid white;
  color: white;
  text-align: center;
  transition: all .3s ease;
  margin-top: 20px;
  text-decoration: none;
}

.links__link:visited {
    color: white;
    text-decoration: none;
}

.links__link:hover {
    text-decoration: none;
    box-shadow: 0px 10px 20px -5px rgba(0,0,0, 0.3);
}
